---
import { Image } from '@astrojs/image/components'
import type { ImageMetadata } from '@astrojs/image/dist/vite-plugin-astro-image'

export interface Scene {
  src: ImageMetadata
  description: string
}

export interface Props {
  scene: Scene
}

const { scene } = Astro.props as Props
---

<Image class="w-full" src={scene.src} />
<p>{scene.description}</p>
