---
import { Image } from '@astrojs/image/components'

export interface Scene {
  src: string
  description: string
}

export interface Props {
  scene: Scene
}

const { scene } = Astro.props as Props
---

<Image class="w-full" src={scene.src} height="600" width="600" />
<p>{scene.description}</p>
