---
import type { Scene } from './SceneDisplay.astro'
import SceneDisplay from './SceneDisplay.astro'

export interface Props {
  scenes: Array<Scene>
}

const { scenes } = Astro.props as Props
---

<ul class="flex flex-col space-y-6">
  {
    scenes.map((it) => (
      <li>
        <SceneDisplay scene={it} />
      </li>
    ))
  }
</ul>
