---
import { Picture } from '@astrojs/image/components'
import type { ImageMetadata } from '@astrojs/image/dist/vite-plugin-astro-image'

export interface Scene {
  src: ImageMetadata
  description: string
}

export interface Props {
  scene: Scene
}

const { scene } = Astro.props as Props
---

<Picture
  class="w-full"
  src={scene.src}
  widths={[480, 640, 1024]}
  sizes="(max-width: 1024px) 100vw, 1024px"
/>
<p>{scene.description}</p>
